<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>Mine and Sweep: Alpha version</title>
    <meta name="viewport" content="width=device-width, initial-scale = 1, user-scalable = no">

    <!-- include style resources -->
    <link href="css/style.min.css" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700" rel="stylesheet">
</head>

<body>

    <!-- Login overlay -->
    <div class="login">
        <div class="container">
            <div class="login-text">What's your nickname?</div>
            <input type="text" id="username" class="username"/>
        </div>
    </div>

    <!-- Game container -->
    <div class="arena">
        <div class="header">
            <div class="inventory">
                <div class="element-wrapper">

                    <div class="element">
                        <div class="circle"></div>
                        <div class="circle">
                            <div class="amount">5</div>
                        </div>
                        <div class="element-time">00 : 11</div>
                    </div>

                    <div class="element">
                        <div class="circle"></div><div class="circle"><div class="amount">0</div></div>
                        <div class="element-time">00 : 12</div>
                    </div>
                </div>
            </div>

            <div class="timer"><div class="time"></div></div>

            <div class="score">
                <div class="score-wrapper">
                    <div class="base"></div>
                    <div class="base"><div class="position">2nd</div></div>
                </div>
            </div>
        </div>
        <div class="tile-wrapper"></div>

        <div class="players-wrapper">
            <div class="player" id ="player1">
                <div class="player-avatar-back">
                    <div class="name">Player Name</div>
                    <div class="points">93</div>
                </div>
            </div>

            <div class="player" id ="player2">
                <div class="player-avatar-back" >
                    <div class="name">Player Name</div>
                    <div class="points">93</div>
                </div>
            </div>
            <div class="player" id ="player3">
                <div class="player-avatar-back">
                    <div class="name">Player Name</div>
                    <div class="points">93</div>
                </div>
            </div>
            <div class="player" id ="player4">
                <div class="player-avatar-back">
                    <div class="name">Player Name</div>
                    <div class="points">93</div>
                </div>
            </div>
        </div>
    </div>

</body>

<!--load external resources-->
<audio id="bomb-explosion" preload="auto" src ="assets/sounds/bomb-explosion.wav"></audio>

<!--Include scripts resources -->
<script type="application/javascript" src="/socket.io/socket.io.js"></script>
<script type="application/javascript" src="js/jquery-3.2.1.min.js"></script>
<script type="application/javascript" src="js/scripts.min.js"></script>

<!--Custom Scripts -->
<script type="application/javascript">
</script>
</html>
